:root {
    --color-span:#2196F3;
    --color-subtitle:#212121;
    --color-text:#757575;
    --color-title:#FFFFFF;
    --color-number:#FFFFFF99;
    --color-bg:#188CE8;
    --color-header:#000000;
    --color-footer:#2F303A;
    --color-picture:#FFF;
    --color-border:#EEE;
}

li {
    list-style-type: none;
}

body {
    font-family: Roboto;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_link:hover {
    color:var(--color-span)
}

.header_link {
    text-decoration: none;
}

.header_href {
    text-decoration: none;
}

.header_href:hover {
    color:var(--color-span)
}

.header_slogan {
    font-size: 26px;
font-family: Raleway;
font-weight: 700;
letter-spacing: 0.78px;
color:var(--color-span)
}

.header-text {
    font-size: 26px;
font-family: Raleway;
font-weight: 700;
letter-spacing: 0.78px;
color:var(--color-header)
}

.header_link {
    font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
color:var(--color-subtitle)
}

.header_contacts-link {
    font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
color:var(--color-text)
}

.header_contacts {
    display: flex;
    gap: 50px;
}

.header_contacts-link {
    text-decoration: none;
}

.header_list {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.header_block {
    display: flex;
    gap: 93px;
    align-items: center;
}


.title {
    padding-top: 94px;
    padding-bottom: 50px;
}


.title_btn {
border-radius: 4px;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
background-color:var(--color-span);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
border: none;
color:var(--color-title)
}

.title_list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.picture_title {
    font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
color:var(--color-subtitle)
}

.picture_subtitle {
    font-size: 16px;
line-height: 30px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.48px;
color:var(--color-text)
}

.picture_item {
    background-color: var(--color-picture);
    border: var(--color-border) 1px solid;
    width: 355px;
    height: 404px;
}

.picture_img {
    width: 100%;
}

.picture {
  padding:0 215px 94px 215px;

}

.picture_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;
    column-gap: 30px;
}

.footer {
    padding: 60px 0 60px 0;
height: 252px;
background-color:var(--color-footer);
}

.footer_slogan {
    font-size: 26px;
font-family: Raleway;
font-weight: 700;
letter-spacing: 0.78px;
color:var(--color-span)
}

.footer_text {
    font-size: 26px;
font-family: Raleway;
font-weight: 700;
letter-spacing: 0.78px;
color:var(--color-title)
}

.footer_link {
    font-size: 14px;
line-height: 24px;
letter-spacing: 0.42px;
color:var(--color-title)
}

.footer_tel {
    font-size: 14px;
line-height: 24px;
letter-spacing: 0.42px;
color:var(--color-number)
}

.footer_address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer_text {
    margin-bottom: 20px;
}

.footer_link {
    text-decoration: none;
}

.footer_tel {
    text-decoration: none;
}








/* button:hover {
    background-color: #2196F3;
}

.href {
    color: black;
}

.href:hover {
    color: #2196F3;
}

span {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;

color: #2196F3;
}

body {
    font-family: 'Roboto';
}

a {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}

button {
    font-family: 'Roboto';
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;

color: black;
}

h3 {
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;

color: #212121;
}

h4 {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;

color: #757575;
}

h2 {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;

color: black;
}

footer a{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: black;
} */