:root {
  --color-span: #2196f3;
  --color-subtitle: #212121;
  --color-text: #757575;
  --color-title: #ffffff;
  --color-number: #ffffff99;
  --color-bg: #188ce8;
  --color-header: #000000;
  --color-footer: #2f303a;
  --color-people: #f5f4fa;
  --color-clientsvg: #afb1b8;
}

li {
  list-style-type: none;
}

body {
  font-family: Roboto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header_link:hover {
  color: var(--color-span);
}

.header_href:hover {
  color: var(--color-span);
}

/* .footer_link:hover {
     color:var(--color-span)
}

.footer_tel:hover {
     color:var(--color-span)
} */

header {
  height: 80px;
}

.header_div {
  display: flex;
  gap: 50px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_link {
  text-decoration: none;
}

.header_href {
  text-decoration: none;
}

.header_slogan {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  color: var(--color-span);
}

.header_list {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin: 0;
}

.header_logo {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.78px;
  color: var(--color-header);
}

.header_link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--color-subtitle);
}

.header_href {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--color-text);
}

.promo {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/Img.png);
  height: 600px;
  padding: 200px 0;
}

.promo_text {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0;
  color: var(--color-title);
}

.promo_btn {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--color-bg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: block;
  margin: 0 auto;
  border: none;
  margin-top: 30px;
  color: var(--color-title);
}

.subtitle {
  padding: 88px 0px 94px 0px;
  /* height: 286px; */
}

.subtitle_item {
  /* height: 98px; */
  width: 270px;
}

.subtitle_list {
  display: flex;
  gap: 30px;
}

.subtitle_headline {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--color-subtitle);
}

.subtitle_text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: var(--color-text);
}

.work {
  padding-bottom: 94px;
  height: 480px;
}

.work_list {
  width: 370px;
  height: 294px;
  display: flex;
  gap: 30px;
}

.work_descr {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: block;
  padding: 27px 0;
  position: absolute;
  bottom: 0;
}

.work_item {
  position: relative;
}

.work_title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
  margin-top: 0;
  color: var(--color-subtitle);
}

.people {
  padding: 94px 0px;
  height: 708px;
  background-color: var(--color-people);
}

.people_list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.people_img {
  width: 100%;
}

.people_title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin: 0;
  color: var(--color-subtitle);
}

.people_name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: var(--color-subtitle);
}

.people_desc {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-text);
}

.people_item {
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.people_item-list {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.people_item-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 34px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}

.people_item-link:hover {
  color: #fff;
  background-color: #2196f3;
}

.people_item-link:hover path {
  fill: #fff;
}

.footer {
  padding: 60px 0 60px 0;
  height: 252px;
  background-color: var(--color-footer);
}

.footer_pagination {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer_slogan {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  color: var(--color-span);
}

.footer_text {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
  margin-top: 0;
  color: var(--color-title);
}

.footer_link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  font-style: normal;
  color: var(--color-title);
}

.footer_tel {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: var(--color-number);
}

.footer_link {
  text-decoration: none;
}

.footer_tel {
  text-decoration: none;
}

.fueatures_item-rectangule {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
}

.fueatures_item-rectangule::before {
  content: "";
  display: block;
  background-image: url(./svg/antennaone.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.subtitle_item:nth-child(2) .fueatures_item-rectangule::before {
  background-image: url(./svg/clockone.svg);
}

.subtitle_item:nth-child(3) .fueatures_item-rectangule::before {
  background-image: url(./svg/diagramone.svg);
}

.subtitle_item:nth-child(4) .fueatures_item-rectangule::before {
  background-image: url(./svg/astronautone.svg);
}

.client {
  padding: 94px 215px;
  height: 373px;
}

.client_list {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.client_link {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client_title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  color: var(--color-subtitle);
  text-align: center;
  margin-bottom: 50px;
}

.client_link:hover {
  border: 1px solid #2196f3;
}

.client_link:hover path {
  fill: #2196f3;
}
